.payment-methods{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    .payment-input-wrapper{
        display: flex;
        align-items: center;
        &>*{
            margin: 2px;
        }
    }
}